*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #0c0c0c;
  --main-fg-color: beige;
  --main-active-color: #00adff;
  --scnd-bg-color: #2a2a2a;
  --container-bg-color: #1b1b1b;
}

body {
  font-family: sans-serif, monospace;
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  min-width: 260px;
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--scnd-bg-color);
  color: var(--main-fg-color);
}
header h1 {
  font-size: 1.2rem;
}
header #logo {
  font-weight: 500;
  color: var(--main-active-color);
}

footer {
  padding: 0.5rem 0;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  color: var(--main-fg-color);
  background-color: var(--scnd-bg-color);
}

#anime-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
  color: var(--main-fg-color);
  background-color: var(--container-bg-color);
}

video {
  display: block;
}

#anime-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  -webkit-tap-highlight-color: transparent;
}

#anime-card-container .anime-card {
  display: flex;
  width: 106px;
  max-width: 100%;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
}
.anime-card .episode {
  position: absolute;
  font-size: 0.8rem;
  background-color: #0c0c0cbb;
  padding: 4px 8px;
  margin: 0;
  border-radius: 0 0 0.5rem;
}
.anime-card .title {
  position: relative;
  font-size: 0.8rem;
  background-color: #0c0c0cbb;
  height: 20px;
  line-height: 1rem;
  padding: 2px 4px;
  overflow: hidden;
  bottom: 34px;
  text-align: center;
  font-weight: normal;
}
.anime-card:hover {
  .title {
    bottom: 5rem;
    height: 66px;
    transition: ease-in-out 0.3s;
  }
}

/* Media queries */
@media only screen and (max-width: 400px) {
  #anime-card-container {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 400px) {
  #anime-container {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  #anime-container {
    margin: 1rem auto;
    width: 66%;
  }
}
@media only screen and (min-width: 768px) {
  #anime-container {
    width: 70%;
  }
}
@media only screen and (min-width: 992px) {
  #anime-container {
    width: 50%;
  }
}
